body{
  background-color: #eaeaea;;
}
.App {
  background-color: #fff;
  color: #000;
  border: 4px solid #ddd;
  display: table;
  margin: 10% auto 0;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  text-align: center;
}

input{
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  border: 2px solid #ddd;
  padding: 5px 10px;
  color: #000;
}

.green{
  font-weight: bold;
  color: green;
}