body{
  background-color: #eaeaea;;
}
.App {
  background-color: #fff;
  color: #000;
  border: 4px solid #ddd;
  display: table;
  margin: 10% auto 0;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  text-align: left;
}

input{
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  border: 2px solid #ddd;
  padding: 5px 10px;
  color: #000;
}

.green{
  font-weight: bold;
  color: green;
}

.Submit {
  background-color: #204ba7;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin: 10px 10px 0 0;
  cursor: pointer;
}
.Submit:hover{
  background-color: #143680;
}
.Submit:disabled{
  cursor: not-allowed;
  background-color: #6d85b9;
}